.iphone {
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
}
.iphone__frame {
  height: 703.8px;
  width: 341.7px;
  background-color: #111111;
  border: 3px solid #22262A;
  border-radius: 50px;
}
.iphone__left-buttons {
  position: absolute;
  top: 90px;
  left: -2px;
}
.iphone__right-buttons {
  position: absolute;
  top: 150px;
  right: -2px;
}

.iphone-frame {
  display: grid;
  justify-content: center;
  align-items: center;
}
.iphone-frame__top {
  height: 79.9px;
}
.iphone-frame__screen {
  width: 306px;
  height: 544px;
}
.iphone-frame__bottom {
  height: 79.9px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.iphone-ft {
  position: relative;
}
.iphone-ft__camera {
  position: absolute;
  top: 40px;
  left: 95px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: linear-gradient(#222222, #020234) padding-box, linear-gradient(to right, #020234, #222222) border-box;
}
.iphone-ft__speaker {
  position: absolute;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 60px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: linear-gradient(#111111, #222222) padding-box, linear-gradient(to right, #111111, #111111) border-box;
}

.iphone-fb__home {
  border: 1px solid transparent;
  background: linear-gradient(#111111, #222222) padding-box, linear-gradient(to right, #111111, #222222) border-box;
  height: 40px;
  width: 40px;
  border-radius: 25px;
}
.iphone-fb__home:hover {
  cursor: pointer;
}

.iphone-lb__mute {
  width: 6px;
  height: 28px;
  background-color: #111111;
  border-radius: 3px 0 0 3px;
}
.iphone-lb__mute:hover {
  cursor: pointer;
}
.iphone-lb__v-up {
  margin-top: 33px;
  width: 6px;
  height: 50px;
  background-color: #111111;
  border-radius: 3px 0 0 3px;
}
.iphone-lb__v-up:hover {
  cursor: pointer;
}
.iphone-lb__v-down {
  margin-top: 10px;
  width: 6px;
  height: 50px;
  background-color: #111111;
  border-radius: 3px 0 0 3px;
}
.iphone-lb__v-down:hover {
  cursor: pointer;
}

.iphone-rb__power {
  width: 6px;
  height: 50px;
  background-color: #111111;
  border-radius: 0 3px 3px 0;
}
.iphone-rb__power:hover {
  cursor: pointer;
}

.iphone-screen {
  position: relative;
  background-image: url("../img/ios16-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: auto 630px;
}
.iphone-screen__date {
  position: absolute;
  top: 40px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
  width: 100%;
  text-align: center;
}
.iphone-screen__time {
  position: absolute;
  top: 50px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 65px;
  opacity: 0.7;
  width: 100%;
  text-align: center;
}
.iphone-screen__slide {
  position: absolute;
  bottom: 30px;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.6;
  width: 100%;
  text-align: center;
  background: linear-gradient(135deg, #FFFFFF, #FFFFFF, #111111, #FFFFFF, #FFFFFF);
  background-size: 800% 800%;
  animation: slide-gradient 4s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slide-gradient 4s ease infinite;
}
.iphone-screen__camera {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.5;
  width: 25px;
}
.iphone-screen__bottom {
  position: absolute;
  bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 40px;
  height: 5px;
  opacity: 0.5;
  border-radius: 3px;
  background-color: #FFFFFF;
}
.iphone-screen__volume {
  position: absolute;
  top: 75px;
  left: 10px;
  width: 30px;
  height: 100px;
  opacity: 0;
  border-radius: 10px;
  background: linear-gradient(0deg, #FFFFFF 50%, transparent 50%);
  transition: 0.3s;
}
.iphone-screen__volume:before {
  content: "";
  position: inherit;
  width: 30px;
  height: 100px;
  opacity: 0.7;
  border-radius: 10px;
  background: #666666;
}
.iphone-screen__mute {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 120px;
  height: 30px;
  opacity: 0;
  border-radius: 15px;
  background: #47525C;
  transition: 0.3s;
}
.iphone-screen__mute img {
  height: 30px;
  opacity: 0.7;
}
.iphone-screen__mute p {
  color: #FFFFFF;
  opacity: 0.7;
  font-weight: 300;
  font-size: 15px;
}

@keyframes slide-gradient {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 -100%;
  }
}
.iphone-st {
  position: relative;
}
.iphone-st__network {
  position: absolute;
  top: 2px;
  left: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: 0.7;
}
.iphone-st__network img {
  height: 12px;
  display: inline;
}
.iphone-st__network p {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 200;
  display: inline;
}
.iphone-st__lock {
  position: absolute;
  top: -2px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 10px;
  opacity: 0.7;
}
.iphone-st__lock img {
  height: 9px;
  display: inline;
}
.iphone-st__battery {
  position: absolute;
  top: 0;
  right: 5px;
  opacity: 0.7;
}
.iphone-st__battery img {
  height: 20px;
  display: inline;
}

/*# sourceMappingURL=iphone.css.map */
