$iphone-width: 67px;
$iphone-height: 138px;

$screen-width: 9px;
$screen-height: 16px;

// Main Iphone Block
.iphone{

  position: relative;

  &__frame{
    height: $iphone-height*5.1;
    width: $iphone-width*5.1;

    background-color: #111111;

    border: 1px solid grey;
    border-radius: 50px;
  }

  &__left-buttons{
    position: absolute;

    top: 90px;
    left: -2px;
  }

  &__right-buttons{
    position: absolute;

    top: 150px;
    right: -2px;
  }
}

// Front side of Iphone
.iphone-frame{
  display: grid;

  justify-content: center;
  align-items: center;

  &__top{
    height: ($iphone-height*5.1 - $screen-height*34)/2;
  }

  &__screen{
    width: $screen-width*34;
    height: $screen-height*34;
  }

  &__bottom{
    height: ($iphone-height*5.1 - $screen-height*34)/2;

    display: grid;
    justify-content: center;
    align-items: center;
  }
}

// Block with camera and speaker
.iphone-ft{
  position: relative;

  &__camera{
    position: absolute;

    top: 40px;
    left: 95px;

    width: 10px;
    height: 10px;

    border-radius: 5px;
    border: 1px solid #FFF;
  }

  &__speaker{
    position: absolute;

    top: 40px;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;


    width: 60px;
    height: 10px;

    border-radius: 5px;
    border: 1px solid #FFF;
  }
}

.iphone-fb{
  &__home{
    border: 1px solid #FFF;

    height: 40px;
    width: 40px;

    border-radius: 20px;

  }
}

// Left Buttons
.iphone-lb{
  &__mute{
    width: 6px;
    height:28px;
    background-color: #111111;

    border-radius: 3px 0 0 3px;

  }

  &__v-up{
    margin-top: 33px;
    width: 6px;
    height:50px;
    background-color: #111111;

    border-radius: 3px 0 0 3px;
  }

  &__v-down{
    margin-top: 10px;
    width: 6px;
    height:50px;
    background-color: #111111;

    border-radius: 3px 0 0 3px;
  }
}

// Right buttons
.iphone-rb{

  &__power{
    width: 6px;
    height:50px;
    background-color: #111111;

    border-radius: 3px 3px 3px 3px;
  }
}

// iPhone screen
.iphone-screen{
  background-image: url("../img/ios16-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: auto $screen-width*70;


}